*{
    padding: 0%;
    margin:0%;
}
.container{
    display: flex;
    gap: 10px;
    justify-content: center;
    flex-direction: column;
    height: 180vh;
    .navbar{
        display: flex;
        justify-content: space-around;
        border-bottom: 1px solid black;
        height: 70px;
        align-items: center;
        .elements{
            display: flex;
            gap: 25px;
            a{
                text-decoration: none;
                font-size: 20px;
                color: black;
            }
        }
        .icons{
            i{
                font-size: 19px;
                color: rgb(49, 49, 133);
                gap: 20px;
            }
        }
    }
    .title{
        display: flex;
        gap: 20px;
        justify-content: center;
        align-items: center;
        height: 69px;
        i{
            font-size: 45px;
            color: darkblue;
            font-family: fantasy;
        }
        h1{
            font-size: 45px;
            color: darkblue;
        }
    }
    .sub-navbar{
        display: flex;
        gap: 30px;
        border-bottom: 1px solid black;
        justify-content: center;
        align-items: center;
        padding: 10px;
        a{
            font-size: 22px;
            text-decoration: none;
            color: black;
        }
    }
    .cards{
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        /* border: 10px solid brown; */
        padding: 10px;
        justify-content: center;
        align-items: center;
         .card{
            border: 1px solid black;
            width:24%;
            display: flex;
            flex-direction: column;
            gap: 20px;
            
            img{
                height: 250px;
                width: 360px;
            }
            h1{
                color: black;
                font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
                font-size: 18px;
                font-weight: bold;
            }
            p{
                border-bottom: 1px solid black;
                text-align: justify;
                p1{
                    font-size: 14px;
                    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
                    color: black;
                    padding-bottom: 10px;
                }
                p2{
                    font-size: 19px;
                    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
                    
                }
            }
        }
    }
    .footer{
        border: 10px solid blue;
        height: 180px;
        font-weight: bold;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: blue;
        color: white;
        gap: 12px;
        i{
            font-size: 40px;
        }
        h1{
            font-size: 36px;
            border-bottom: 1px solid white;
            width: 80%;
            text-align: center;
        }
        .icon{
            font-size: 36px;
        }
    }
}
